---
title: CHASE - pictures
---

<section class="pictures">
  <header>
    <h1>Pictures</h1>
  </header>
  <div class="practical">
  <p>Pictures taken during the congress</p>
  </div><!-- end .practical -->
  <div class="content">
    <figure>
      <%= image_tag "chase-1.jpg" %>
    </figure>
    <figure>
      <%= image_tag "chase-2.jpg" %>
    </figure>
    <figure>
      <%= image_tag "chase-3.jpg" %>
    </figure>
    <figure>
      <%= image_tag "chase-4.jpg" %>
    </figure>
    <figure>
      <%= image_tag "chase-5.jpg" %>
    </figure>
    <figure>
      <%= image_tag "chase-6.jpg" %>
    </figure>
    <figure>
      <%= image_tag "chase-7.jpg" %>
    </figure>
    <figure>
      <%= image_tag "chase-8.jpg" %>
    </figure>
    <figure>
      <%= image_tag "chase-9.jpg" %>
    </figure>
    <figure>
      <%= image_tag "chase-10.jpg" %>
    </figure>
  </div><!-- end .content -->
</section>
